@model Usuario
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css" />



<div class="text-center ">
    <h1 class="display-4">Bem-Vindo ao FourTask</h1>
    <h2> Um projeto destinado à facilitar sua carreira!</h2>
</div>
<hr />
<div class="text-center">
    <div>
        <p class="HomeBanner"></p>
    </div>
</div>
<hr class="Separador" />
<div class="container_flex">
    <div class="BannerWork">
    </div>
    <div class="TextoBannerWork">
        <p>Atualize os colegas de trabalho em tempo real com FourTask</p>
        <p>Uma ferramenta organizacional criada para seu time!</p>
        <p>Usando o método ágil para atualizar seu jeito de trabalhar</p>
        <p>Com foco no aumento de produtividade e na otimização dos processos, essa metodologia pode transformar sua empresa.</p>
    </div>
</div>
<hr class="Separador" />
<div class="text-center">
    <h1 class="display-4">Desenvolvedor</h1>
    <div class="Desenvolvedor">
        <h2>Raphael Morette</h2>
        <p class="img_perfil">
            <img class="imagem_Perfil" src="~/img/PerfilRaphael.jpeg" />
        </p>
        <p>
            <strong>Desenvolvedor Full-stack</strong>
        </p>
        <p> O Raphael sempre pensou em como facilitar o trabalho, em 2022 teve a chance de
            criar a FouTask e sendo uma pessoa que não "larga o osso" ele desenvolveu essa revolucionária ferramenta</p>
    </div>
</div>